#### Importing the data and needed packages

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import phik

In [2]:
software_technique_table = pd.read_excel("../Data/enterprise-attack-v9.0-software.xlsx", "techniques used")
software_technique_table.drop(columns=["source type", "mapping type", "mapping description", "target type"])

association = pd.read_excel("../Data/Data collection MITRE ATT&CK.xlsx", sheet_name = 'Association_compact')
matrix = pd.read_excel("../Data/Data collection MITRE ATT&CK.xlsx", sheet_name = 'Vektordarstellung')

### Creating the full matrix

In [3]:
dfmatrix = pd.DataFrame(matrix)
dfmatrix = dfmatrix.set_index('ID')
dfmatrix.loc['created'] = pd.to_datetime(dfmatrix.loc['created']).dt.date

#initialisiere die Werte in der Tabelle mit 0
dfmatrix = dfmatrix.fillna(int(0))

#eigentliche Magie | Kombinationen werden markiert, die "genutzt werden"
software = association['source ID']
techniques = association['target ID']

#Es werden Software-Technique-Tupel erstellt und in data gespeichert
data = []
for i in range (len(software)):
    tuple = [(software)[i], (techniques)[i]]
    data.append(tuple)

#Schleife durch die Tupel und dabei werden an der entschrechenden Matrix Einsen eingetragen
for i in data:
    dfmatrix[i[0]][i[1]] = int(1)  
dfmatrix

,S0066,S0065,S0469,S0045,S0073,S0552,S0331,S0092,S0504,S0584,...,S0385,S0067,S0006,S0103,S0111,S0227,S0225,S0123,S0248,S0350
ID,,,,,,,,,,,,,,,,,,,,,
created,2017-05-31,2017-05-31,2020-06-10,2017-05-31,2017-05-31,2020-12-28,2019-01-29,2017-05-31,2020-09-10,2021-03-01,...,2019-06-04,2017-05-31,2017-05-31,2017-05-31,2017-05-31,2018-04-18,2018-04-18,2017-05-31,2018-10-17,2019-01-30
T1548,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
T1548.002,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
T1548.004,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
T1548.001,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
T1102.002,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
T1102.001,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
T1102.003,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
T1047,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
T1220,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Reducing the matrix (min 3 techniques used + filtering empty software)

1. Add a new row and a new column with the sum of used techniques in a software and softwares in a technique
2. For counting the sum, drop the created-row
3. Fill the new row and column with the calculated values
4. Dropping techniques, using less then 4 software
5. reinitializing the sums
6. Dropping empty software
7. Analysing the final reduced data
8. saving dfmatrix_reduced

In [19]:
# RUN ONLY ONE TIME! RESULT: 196 rows x 450 columns

count_tech_list = []
ratio_ones_list = []
ratio_all_list = []


# Initialisiere und Fülle die Summen, um anschließend damit weiter zurechnen

# Leere die Spalten, damit sie anschließend komplett überschrieben werden können
dfmatrix['technique_sum'] = 0
dfmatrix.loc['software_sum'] = 0

technique_sum = dfmatrix.transpose().drop(['created'], axis = 1).sum(axis = 0)
software_sum = dfmatrix.transpose().drop(['created'], axis = 1).sum(axis = 1)

# Droppe Techniken die weniger als xxx Software benutzen
dfmatrix['technique_sum'] = technique_sum
dfmatrix.loc['software_sum'] = software_sum

# Droppe Techniques
dfmatrix.drop(dfmatrix[dfmatrix['technique_sum'] < 4].index, inplace = True)

#Aktualisiere die Summen
dfmatrix['technique_sum'] = 0
dfmatrix.loc['software_sum'] = 0

technique_sum = dfmatrix.transpose().drop(['created'], axis = 1).sum(axis = 0)
software_sum = dfmatrix.transpose().drop(['created'], axis = 1).sum(axis = 1)
dfmatrix['technique_sum'] = technique_sum
dfmatrix.loc['software_sum'] = software_sum

dfmatrix = dfmatrix.transpose().drop(dfmatrix.transpose()[dfmatrix.transpose()['software_sum'] < 2].index[:-1]).transpose()

dfmatrix_clean = dfmatrix.drop(columns = ['technique_sum'])
dfmatrix_clean = dfmatrix_clean.transpose().drop(columns = ['created', 'software_sum']).transpose()

# ---------------Analyse-------------------
"""
count_ones = dfmatrix_clean.sum().sum()
count_all = dfmatrix_clean.shape[0] * dfmatrix_clean.shape[1]

count_ones_original = 5714
count_all_original = 272136

ratio_ones = count_ones / count_ones_original
ratio_all = count_all / count_all_original
count_tech = dfmatrix_clean.shape[0]
count_soft = dfmatrix_clean.shape[1]

count_tech_list.append(count_tech)
ratio_ones_list.append(ratio_ones)
ratio_all_list.append(ratio_all)

print('count_ones', count_ones)
print('ratio_ones: ', ratio_ones)
print('ratio_all: ', ratio_all)
print('Number of techniques', count_tech)
print('Number of software', count_soft)
print('-------NEXT-------')

print("count_tech_list", count_tech_list)
print("ratio_ones_list", ratio_ones_list)
print("ratio_all_list", ratio_all_list)

"""
dfmatrix_reduced = dfmatrix.drop(['technique_sum', 'S0102'], axis = 1).drop('software_sum', axis = 0)

dfmatrix_reduced

count_ones 5427
ratio_ones:  0.9497724886244312
ratio_all:  0.3174883146661963
Number of techniques 192
Number of software 450
-------NEXT-------
count_tech_list [192]
ratio_ones_list [0.9497724886244312]
ratio_all_list [0.3174883146661963]

,S0066,S0065,S0469,S0045,S0552,S0331,S0092,S0504,S0584,S0456,...,S0008,S0071,S0068,S0278,S0283,S0108,S0385,S0067,S0248,S0350
ID,,,,,,,,,,,,,,,,,,,,,
created,2017-05-31,2017-05-31,2020-06-10,2017-05-31,2020-12-28,2019-01-29,2017-05-31,2020-09-10,2021-03-01,2020-05-26,...,2017-05-31,2017-05-31,2017-05-31,2018-10-17,2018-10-17,2017-05-31,2019-06-04,2017-05-31,2018-10-17,2019-01-30
T1548.002,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
T1134,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
T1134.002,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
T1134.001,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
T1102,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
T1102.002,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
T1102.001,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
T1102.003,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
T1047,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [5]:
# Plotting the analysis: 

#plt.plot(count_tech_list, ratio_ones_list, label = 'ratio_ones')
#plt.plot(count_tech_list, ratio_all_list, label = 'ratio_all')
#plt.legend()
#plt.show()

### Cutting the data into a training and a test set (80%, 20%)

Result: X (80%) and Y (20%) of dfmatrix_reduced

In [20]:
dfmatrix_reduced

,S0066,S0065,S0469,S0045,S0552,S0331,S0092,S0504,S0584,S0456,...,S0008,S0071,S0068,S0278,S0283,S0108,S0385,S0067,S0248,S0350
ID,,,,,,,,,,,,,,,,,,,,,
created,2017-05-31,2017-05-31,2020-06-10,2017-05-31,2020-12-28,2019-01-29,2017-05-31,2020-09-10,2021-03-01,2020-05-26,...,2017-05-31,2017-05-31,2017-05-31,2018-10-17,2018-10-17,2017-05-31,2019-06-04,2017-05-31,2018-10-17,2019-01-30
T1548.002,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
T1134,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
T1134.002,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
T1134.001,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
T1102,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
T1102.002,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
T1102.001,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
T1102.003,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
T1047,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [21]:
dfmatrix_reduced = dfmatrix_reduced.sort_values(by = 'created', axis = 1)

# Calculate split column
eightty_split = (dfmatrix_reduced.shape[1] * 0.8)
eightty_split = int(np.rint(eightty_split))

x_index = dfmatrix_reduced.columns[:eightty_split-1]
y_index = dfmatrix_reduced.columns[eightty_split-1:]

X = dfmatrix_reduced[x_index].transpose()
Y = dfmatrix_reduced[y_index].transpose()


# Y done!

In [29]:
# formating X into needed layout

# inserting the technique_sum for calculating the probabilities

X.loc['technique_sum'] = 0
technique_sum = X.drop(['created'], axis = 1).sum(axis = 0)
X.loc['technique_sum'] = technique_sum
X

ID,created,T1548.002,T1134,T1134.002,T1134.001,T1087.002,T1087.003,T1087.001,T1071,T1071.004,...,T1078.003,T1125,T1497,T1497.001,T1497.003,T1102,T1102.002,T1102.001,T1102.003,T1047
S0066,2017-05-31,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
S0002,2017-05-31,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
S0051,2017-05-31,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
S0083,2017-05-31,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
S0080,2017-05-31,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
S0467,2020-06-08,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
S0468,2020-06-09,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
S0472,2020-06-10,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
prop,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
technique_sum,NaN,20,7,7,6,9,4,27,4,18,...,4,23,6,23,4,2,21,7,3,37

In [33]:
# Append propabilities for techniques
# Only run one time! 

X.loc['prop'] = 0
sum_all = technique_sum.sum()

X.loc['prop'] = X.loc['technique_sum']/sum_all

X = X.drop('technique_sum', axis = 0)
X

ID,created,T1548.002,T1134,T1134.002,T1134.001,T1087.002,T1087.003,T1087.001,T1071,T1071.004,...,T1078.003,T1125,T1497,T1497.001,T1497.003,T1102,T1102.002,T1102.001,T1102.003,T1047
S0066,2017-05-31,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
S0002,2017-05-31,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
S0051,2017-05-31,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
S0083,2017-05-31,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
S0080,2017-05-31,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
S0466,2020-06-04,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
S0467,2020-06-08,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
S0468,2020-06-09,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
S0472,2020-06-10,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
prop,NaN,0.004782,0.001674,0.001674,0.001435,0.002152,0.000956,0.006456,0.000956,0.004304,...,0.000956,0.0055,0.001435,0.0055,0.000956,0.000478,0.005022,0.001674,0.000717,0.008847

## splitting X into Xsmall (60%), Ytrain (20%)

In [34]:
#X.sort_values(by = 'created', axis = 1)

# Calculate split column
X_split = (X.shape[1] * 0.75)
X_split = int(np.rint(X_split))


x_small_index = X.columns[:X_split - 1]
y_train_index = X.columns[X_split - 1:]

x_small = X[x_small_index]
y_train = X[y_train_index]

## Berechnung der phi-Korrelationsmatrix für X und xsmall

In [35]:
software = list(X.transpose().drop('prop', axis = 1).columns)

X_clean = X.drop(['created'], axis = 1).drop(['prop'], axis = 0).transpose()
X_phi = X_clean.phik_matrix(interval_cols = software)

x_small_clean = x_small.drop(['created'], axis = 1).drop(['prop'], axis = 0).transpose()
x_small_phi = x_small_clean.phik_matrix(interval_cols = software)

In [37]:
# claculation the phik matirx for the techniques

techniques = list(X.columns)

X_clean_t = X_clean.transpose()
X_phi_t = X_clean_t.phik_matrix(interval_cols = techniques)

X_phi_t

ID,T1548.002,T1134,T1134.002,T1134.001,T1087.002,T1087.003,T1087.001,T1071,T1071.004,T1071.002,...,T1078.003,T1125,T1497,T1497.001,T1497.003,T1102,T1102.002,T1102.001,T1102.003,T1047
ID,,,,,,,,,,,,,,,,,,,,,
T1548.002,1.000000,0.128362,0.275679,0.447786,0.227473,0.000000,0.117663,0.000000,0.000000,0.000000,...,0.000000,0.150953,0.000000,0.150953,0.000000,0.054936,0.000000,0.000000,0.000000,0.127978
T1134,0.128362,1.000000,0.296628,0.045127,0.252434,0.096310,0.340413,0.096310,0.000000,0.000000,...,0.096310,0.000000,0.045127,0.000000,0.096310,0.176817,0.000000,0.003910,0.128848,0.164733
T1134.002,0.275679,0.296628,1.000000,0.045127,0.447271,0.096310,0.220113,0.096310,0.000000,0.000000,...,0.096310,0.107341,0.045127,0.000000,0.096310,0.176817,0.000000,0.003910,0.128848,0.000000
T1134.001,0.447786,0.045127,0.045127,1.000000,0.000000,0.113623,0.000000,0.113623,0.000000,0.000000,...,0.113623,0.000000,0.066523,0.279462,0.113623,0.196150,0.000000,0.045127,0.146451,0.000000
T1087.002,0.227473,0.252434,0.447271,0.000000,1.000000,0.066769,0.387160,0.066769,0.105583,0.000000,...,0.066769,0.000000,0.000000,0.000000,0.066769,0.147003,0.000000,0.000000,0.100715,0.220053
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
T1102,0.054936,0.176817,0.176817,0.196150,0.147003,0.251920,0.000000,0.251920,0.068505,0.134992,...,0.251920,0.032653,0.196150,0.032653,0.251920,1.000000,0.047994,0.176817,0.296711,0.000000
T1102.002,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.028120,0.000000,0.140925,0.000000,0.047994,1.000000,0.121081,0.000000,0.000000
T1102.001,0.000000,0.003910,0.003910,0.045127,0.000000,0.096310,0.000000,0.096310,0.000000,0.000000,...,0.096310,0.000000,0.045127,0.107341,0.096310,0.176817,0.121081,1.000000,0.128848,0.000000
T1102.003,0.000000,0.128848,0.128848,0.146451,0.100715,0.195825,0.000000,0.195825,0.000000,0.088822,...,0.195825,0.000000,0.146451,0.000000,0.195825,0.296711,0.000000,0.128848,1.000000,0.000000
T1047,0.127978,0.164733,0.000000,0.000000,0.220053,0.000000,0.183878,0.000000,0.000000,0.000000,...,0.270777,0.000000,0.053604,0.093169,0.123587,0.000000,0.000000,0.000000,0.000000,1.000000

## Saving all data in "Data_for_algorithms_PROGRESS.xlsx"

In [38]:
writer = pd.ExcelWriter("./Data_for_algorithms_PROGRESS.xlsx", engine = 'xlsxwriter')

X.to_excel(writer, sheet_name = 'X')
X_phi.to_excel(writer, sheet_name = 'X_phi')
X_clean.to_excel(writer, sheet_name = 'X_clean')

Y.to_excel(writer, sheet_name = 'Y')
y_train.to_excel(writer, sheet_name = 'y_train')

x_small.to_excel(writer, sheet_name = 'x_small')
x_small_phi.to_excel(writer, sheet_name = 'x_small_phi')
x_small_clean.to_excel(writer, sheet_name = 'x_small_clean')

X_phi_t.to_excel(writer, sheet_name = 'X_phi_techniques')

writer.save()